{
  "extends": [
    "taro/react",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": 2,
    "react/prop-types": 0
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
